@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menuItem {
    @apply flex flex-col justify-center w-48 h-fit filter hover:outline-dotted hover:outline-2 hover:outline-offset-2 cursor-pointer px-4 pb-5;
  }
  .input {
    @apply px-2 py-1 focus:outline-dotted outline-2 outline-offset-2 transition-transform focus:scale-105 w-64;
  }
  .main {
    @apply bg-stone-200 flex flex-col pt-8 pb-14 items-center flex-grow;
  }
  .button {
    @apply bg-yellow-300 mt-8 py-4 hover:bg-yellow-500 transition;
  }
  .selected {
    @apply bg-emerald-300;
  }
  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */

  .fadeIn {
    animation-name: fadein;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateX(-1rem);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
